/* -- nav bar - -- */

nav { height: 40px; font-family: Josefin Slab; font-size: 15px; }
#about-button { padding-right: 10px; }
#portfolio-button { padding-left: 10px; }
.icon { margin-left: -15px; }
.last { margin-right: 10px; }
#me { height: 80px; border-radius: 50%; border: 5px solid #f8f8f8; }


/* -- home page title - -- */

.home_page { outline: 0px solid black; margin: -20px 0 0 0; background: url("pics/black_floral.jpg"); height: 700px; }
.hello_wrap { outline: 0px solid red; padding-top: 100px; }
.welcome_section { outline: 5px solid white; margin: 0 auto; width: 375px; height: 300px; text-align: center; }
.extra_wrap { outline: 2px solid white; width: 365px; height: 290px; margin: 0 auto; display: inline-block; margin-top: 5px; }
.extra { height: 70px;  }
.welcome { font-family: Fredericka the Great; font-size: 60px; color: white; text-decoration: none !important; margin-top: 25px; }
.message { font-family: Amatic SC; font-size: 25px; color: white; text-decoration: none !important; }
.arrow_wrap { outline: 0px solid white; margin-top: 175px; }
.arrow { outline: 0px solid red; width: 300px; margin: 0 auto; }
.arrow img { height: 40px; cursor: pointer; margin-left: 120px; }

/* -- about page - -- */

.about_wrap { margin: -20px 0 0 0; background: url("pics/half_back1.jpg") no-repeat; bottom: 400px; background-size: cover; height: 700px; }
.about_info { width: 90%; margin: 0 auto; color: #555555; padding-top: 5px; }
.title { font-family: Fredericka the Great; font-size: 50px; text-align: center; }
.line { background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(147,147,147,1) 50%,rgba(0,0,0,0) 100%); height: 1px; }
.info_block { margin-top: 5px; text-align: center; }
.info { font-family: Josefin Slab; font-size: 20px; }
.more_links { outline: 0px solid black; width: 100%; margin-top: 10px; text-align: center; }

/* -- extra links to my info - -- */

.links { outline: 0px solid red; width: 400px; margin: 0 auto; display: inline-block; }
.link_wrap { border: 1px solid #424242; transition: 0.3s linear; color: #555555; display: inline-block; padding-right: 7px; padding-left: 7px; margin: 15px; border-radius: 2px; background: transparent; }
.link_wrap:hover { border: 1px solid #7C91A2; background: #A8B8C5; }
.me_link { font-family: Amatic SC; font-size: 25px; text-decoration: none !important; color: #555555; width: 100%; }
.me_link:hover { color: #364B60; }


/* -- all projects - -- */

.work_wrap { padding-bottom: 75px; margin-top: 50px; text-align: center; width: 80%; margin: 0 auto; }
.item_wrap { outline: 0px solid red; display: inline-block; padding-bottom: 25px; padding-top: 15px; cursor: pointer; }
.small_wrap { outline: 0px solid #B0BAB2; padding-top: 5px; padding-left: 5px; padding-right: 5px; padding-bottom: 5px; }
.desc_wrap { font-family: Josefin Slab; font-size: 15px; color: #555555; text-align: center; }
.project_img { height: 250px; outline: 0px solid #bbbbbb; margin-top: 25px; -webkit-filter: opacity(100%); }
.work_text { font-size: 25px; font-family: Fredericka the Great; color: #555555; outline: 0px solid #555555; margin: 0 auto; }
.desc { margin: 0 auto; font-size: 20px; margin-top: 10px; }
.skill { padding-top: 5px; height: 30px; margin: 0 auto; font-size: 20px; }
.button { border: 1px solid #424242; font-familiy: Amatic SC; padding: 5px; margin-top: 40px; display: inline-block; width: 75px; text-align: center; margin-left: 5px; margin-right: 5px; transition: 0.3s linear; color: #555555; font-family: Amatic SC; font-size: 20px; border-radius: 2px; }
.button:hover { font-family: Amatic SC; text-decoration: none !important; color: #364B60; border: 1px solid #7C91A2; background: #A8B8C5; }

/* -- contact - -- */

.home_social { padding-top: 150px; }
.social_wrap { outline: 0px solid red; height: 300px; width: 100%; text-align: center; text-decoration: none; margin: -20px 0 0 0; background: url("pics/half_back.jpg")no-repeat; bottom: 0px; background-size: cover; height: 700px; }
.social_title { outline: 0px solid blue; font-size: 40px; font-family: Fredericka the Great; color: #555555; margin-top: 100px; text-decoration: none; }
.email { font-size: 18px; font-family: Amatic SC; font-size: 25px; }
.social_icons p { outline: 0px solid red; display: inline-block; -webkit-filter: grayscale(100%); padding: 5px; }
.social_icons img {height: 20px; width: 20px; }
.social_icons :hover { -webkit-filter: grayscale(0); -webkit-transition: .5s; cursor: pointer; }


@media only screen and (min-width: 768px) { 
.item_wrap { outline: 0px solid blue; width: 100%; }
.project_img { outline: 0px solid #eee; display: inline-block; bottom: 50px; margin-left: 25px; }
.desc_wrap { outline: 0px solid red; width: 300px; text-align: left; display: inline-block; }


@media only screen and (min-width: 1200px) { 
.project_img { outline: 0px solid blue; height: 350px; }
.desc_wrap { outline: 0px solid red; width: 350px; position: relative; bottom: 100px;}
}
