.hero_wrap { outline: 0px solid blue; width: 100%; float: right; color: #F94D2F; height: 75px; display: inline-block; } 
.name_wrap { outline: 0px solid red; display: inline-block; float: right; margin-right: 50px;  }
.name_wrap p { font-size: 40px; font-family: "Lobster"; position: relative; bottom: 25px; left: 25px; }
.fork_icon img { display: none; }
.nav_items { display: none; }

@media only screen and (min-width: 900px) { 
.mini_nav { display: none; }
.hero_wrap { width: 70%; }
.fork_icon img { outline: 0px solid black; display: block; height: 60px; margin-top: 10px; float:right; margin-right: 100px; margin-top: 50px; }
.nav_wrap { outline: 0px solid red; width: 30%; height: 1000px; background-color: #555; color: white; }
.nav_items { outline: 0px solid blue; display: block; width: 100%; position: relative; top: 75px; }
.intro_note { outline: 0px solid black; font-family: "Hind"; font-size: 20px; margin-left: 25px; }
.nav_list { outline: 0px solid black; width: 100%; }
.list_wrap { outline: 0px solid red; text-align: right; font-family: "Hind"; font-size: 30px; cursor: pointer; }
.list_wrap:hover {background-color: #444; }
.list_item { outline: 0px solid blue; width: 75%; margin: 0 auto; }

/* -- media screen changes - -- */
