.hello_wrap { outline: 0px solid red; margin-top: 150px; }
.welcome_section { outline: 0px solid black; width: 400px; margin: 0 auto; text-align: center; }
.welcome { font-family: Lobster; font-size: 50px; color: #F94D2F; }
.message { font-family: Lobster; font-size: 25px;}
.circle { outline: 0px solid black; margin: 0 auto; margin-top: 25px; background: #D5D5D5; width: 100px; height: 100px; border-radius: 50%; }
.circle:hover { cursor: pointer; }
.circle_text { outline: 0px solid red; padding-top: 32px; color: white; }

.search_wrap { outline: 0px solid blue; width: 100%; min-height: 250px; margin-right: 5px; margin-top: 50px; }
.outline { outline: 3px solid #F8F8F8; width: 510px; height: 310px; margin: 0 auto; padding-top: 5px; }
.food_wrap { outline: 0px solid red; width: 500px; height: 300px; background-color: #F8F8F8;  margin: 0 auto; }
.title { margin-bottom: 5px; }
#title1 { font-family: Lobster; font-size: 20px; color: #F94D2F; }
#title2 { margin-left: 10px; font-family: Lobster; font-size: 20px; color: #F94D2F; }
.no_wrap { margin-top: 25px; margin-left: 85px; }
.yes_wrap { padding-top: 50px; margin-left: 85px; }
input { width: 300px; }
.submit { float: right; width: 75px; margin-right: 85px; margin-top: 25px; }

.result_wrap { outline: 0px solid red; min-height: 250px; margin-top: 100px; }
.result_data { outline: 0px dotted blue; width: 700px; margin: 0 auto; padding: 5px; position: relative; right: 15px; }
.food_img { height: 250px; width: 250px; border: 3px solid #eee; display: inline-block; margin: 10px; position: relative; left: 25px; border-radius: 50%; }
.recipe_name { outline: 0px sold black; margin-left: 105px; }
.name { outline: 1px solid blue; }

.recipe_wrap { outline: 0px solid black; }
.recipe_list { outline: 1px solid #D5D5D5; width: 700px; margin: 0 auto; }
.recipe_data { outline: 0px solid red; margin: 10px; padding-top: 10px; width: 60%; display: inline-block; }
.name_wrap { outline: 0px solid blue; display: inline-block; width: 60%;}
.name_wrap p { display: inline-block; }
.heart { outline: 1px solid red; height: 25px; float: right; display: inline-block; margin-bottom: 25px;}
.time_wrap { border-top: 2px dotted black; border-bottom: 2px dotted black; }
.name_wrap { margin-top: 10px; font-family: Lobster; font-size: 20px; color: #F94D2F; }
.time { display: inline-block; margin-right: 30px; margin-top: 10px; margin-left: 25px; text-align: center; }
.larger { font-family: Lobster; font-size: 15px; color: #F94D2F; }
#total_time { border-left: 2px solid #D5D5D5; padding-left: 25px; }
.pic_wrap { display: inline-block; float: right; margin-bottom: 200px; }
.ingredient_list { margin-top: 25px; }
.ingredient_title { font-family: Lobster; font-size: 20px; color: #F94D2F; }

.source_wrap { outline: 0px solid blue; margin-left: 10px; border-top: 2px dotted black; width: 90%; }
.source_info { margin-top: 10px; padding-bottom: 25px; }
.link:hover { cursor: pointer; }

.photo_wrap { outline: 0px solid green; display: inline-block; float: right; width: 35%; margin-right: 15px; }
.photo_info { margin-top: 150px; }
.picture { border: 3px solid #eee; width: 230px; }


